html, body {
  height: 100%;
  background: black;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -250px;
  /* Pad bottom by footer height */
  padding: 0 0 250px;
}

#map {
  margin: auto;
  width: auto;
  text-align: center;
  border: 0;
  cellpadding: 0;
  cellspacing: 0;
}

#map td {
  height: auto;
  border: 1px dashed #ddd;
}

#map td {
  background: black;
}

#map td.room {
  background: white;
}

#map .player {
  display: block;
  height: 30%;
  width: 30%;
  background: red;
  border-radius: 50%;
  margin: auto;

}

#footer {
  height: 250px;
}

.io {
  font-family: monospace;
}

#output {
  resize: none;
  height: 185px;
}

