html, body {
  height: 100%;
  background: black;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

#footer {
  height: 50px;
}


#map {
  margin: auto;
  //width: auto;
  text-align: center;
  border: 0;
  table-layout: fixed;
}

td {
  height: auto;
}


.undef {
  background-image: url('../images/textures/unknown.png');
}
.wall {
  background-image: url('../images/textures/wall.png');
}
.room {
  background-image: url('../images/textures/room.png');
}
.forest {
  background-image: url('../images/textures/forest.png');
}
.desert {
  background-image: url('../images/textures/desert.png');
}
.lake {
  background-image: url('../images/textures/lake.png');
}
.river {
  background-image: url('../images/textures/river.png');
}
.hill {
  background-image: url('../images/textures/hill.png');
}
.meadow {
  background-image: url('../images/textures/meadow.png');
}
.chamber {
  background-image: url('../images/textures/chamber.png');
}

.char {
  display: block;
  height: 30%;
  width: 30%;
  background: red;
  border-radius: 50%;
  margin: auto;
}

.io {
  font-family: monospace;
}

#output {
  resize: none;
  height: 185px;
}

